h1{
  text-align: center;
}
#informacion{
  float: right;
  text-align: right;
  margin: 10px;
  padding:0px;
  border:solid;
  border-color: blue;
}
h2{
  clear: right;
  color: Blue;
}
img{
  width: 123px;
  height: 177px;
}
.negrita{
  font-weight: bold;
}
.lugar{
  font-style: italic;
  color: DodgerBlue;
}
.lista{
  list-style-type: circle;
}
a:visited {
  color: red;
}
a:hover {
  color: purple;
}
a:active {
  color: yellow;
}
