h1{
  text-align: center;
}
#informacion{
  float: right;
  text-align: right;
}
h2{
  clear: right;
  color: Blue;
}
img{
  width: 125px;
  height: 125px;
}
span.negrita{
  font-weight: bold;
}
span.lugar{
  font-style: italic;
  color: DodgerBlue;
}
